<div class="mb-1" id="bot-message-{{uuid}}">
    <div class="flex flex-col">
        <div class="flex justify-start m-1">
            <div class="bot-message">
                <div class="rounded-lg py-2 px-3 shadow-2xl">
                    <div class="chunks"></div>
                    <div class="flex flex-row justify-end">
                        <button
                            hx-get="/remove_message/{{uuid}}"
                            hx-trigger="click"
                            hx-target="#main_chat"
                            hx-swap="outerHTML"
                            hx-vals='js:{
                                session_id: document.getElementById("main_chat").dataset.sessionId,
                                        }'
                            class="mess-del-button p-1 text-sm text-gray-500 invisible">
                            delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>